#map-places-page {
	position: relative;
	height: calc(100vh - var(--navbar-height));
	width: 100%;

	.map-places-content {
		position: absolute;
		top: 2rem;
		left: 2rem;
		height: fit-content;
		width: fit-content;

		h1 {
			margin-bottom: 2rem;
			color: var(--map-text-color);
		}

		.search-section {
			display: flex;
			align-items: center;

			input {
				height: 25px;
				width: 200px;
				border-radius: 5px;
				border: 1px solid var(--map-line-color);
				margin-right: 0.5rem;
				padding: 5px 10px;
				background: var(--map-input-bg-color);
				color: var(--map-input-text-color);
			}

			input::placeholder {
				color: var(--map-input-placeholder-text-color);
			}

			#category-select {
				height: 37px;
				width: 80px;
				margin-right: 1rem;
				background: transparent;
				border: 1px solid var(--map-line-color);
				border-radius: 5px;
				padding: 0.2rem;
				color: var(--map-input-text-color);
				background-color: var(--map-input-bg-color);
			}

			button {
				height: 37px;
				width: 70px;
				border-radius: 5px;
				border: none;
				background-color: var(--primary-color);
				color: var(--btn-text-color);
			}

			button:hover {
				cursor: pointer;
			}

			.loading {
				margin-left: 2rem;
			}
		}

		.error-message,
		.info-message {
			margin: 1rem 0 0 0;
			padding: 0;
			font-weight: 500;
		}

		.error-message {
			color: var(--error-text);
		}

		.info-message {
			color: var(--map-text-color);
		}
	}
}

@media screen and (max-width: 500px) {
	#map-places-page {
		.map-places-content {
			position: absolute;
			top: 1rem;
			left: 1rem;

			h1 {
				margin-bottom: 1rem;
			}
		}
	}
}

@media screen and (max-width: 411px) {
	.search-section {
		flex-direction: column;

		button {
			margin-top: 1rem;
		}
	}
}
