#map-places-page {
	position: relative;
	height: calc(100vh - var(--navbar-height));
	width: 100%;

	.map-places-content {
		position: absolute;
		top: 2rem;
		left: 2rem;
		height: fit-content;
		width: fit-content;

		h1 {
			margin-bottom: 2rem;
			color: var(--map-text-color);
		}

		.search-section {
			display: flex;
			align-items: center;

			input {
				height: 25px;
				width: 200px;
				border-radius: 5px;
				border: 1px solid var(--map-line-color);
				margin-right: 0.5rem;
				padding: 5px 10px;
				background: transparent;
				color: var(--map-text-color);
			}

			#category-select {
				height: 37px;
				width: 80px;
				margin-right: 1rem;
				background: transparent;
				border: 1px solid var(--map-line-color);
				border-radius: 5px;
				padding: 0.2rem;
				color: var(--map-text-color);
			}

			button {
				height: 37px;
				width: 70px;
				border-radius: 5px;
				border: none;
				background-color: var(--primary-color);
				color: var(--btn-text-color);
			}

			button:hover {
				cursor: pointer;
			}

			.loading,
			.error-message {
				margin-left: 2rem;
			}

			.error-message {
				color: var(--error-text);
			}
		}
	}
}
