.navbar {
	position: sticky;
	top: 0;
	width: 100%;
	z-index: 100;
	background-color: var(--bg-color-dark);
	max-height: var(--navbar-height);

	nav {
		padding: var(--navbar-footer-padding);
		display: flex;
		flex-direction: row;
		align-items: center;

		.mr {
			margin-right: 1rem;
		}
	}
}

@media (prefers-color-scheme: light) {
	:root {
		background-color: var(--bg-color-light);
	}
}
