#place-modal {
	// fill background with overlay

	.modal-content {
		// center visible modal box

		.header {
			display: flex;
			justify-content: space-between;
		}

		.section {
			.info-section {
				display: flex;

				.col {
					width: 50%;
				}
			}

			.map-section {
				height: 100%;
			}
		}
	}
}
