#place-modal {
	position: absolute;
	inset: 0;
	width: 100vw;
	z-index: 200;
	background-color: var(--modal-container-color);
	align-content: center;

	.modal-content {
		z-index: 500;
		width: 50%;
		height: 60%;
		margin: auto;
		background-color: var(--modal-bg-color);
		border-radius: 10px;
		padding: 2rem;
		overflow: scroll;

		.header {
			display: flex;
			justify-content: space-between;
			margin-bottom: 2rem;

			p {
				color: var(--secondary-text-color);
			}

			button {
				height: 30px;
				width: 30px;
				padding: 5px;
				background-color: transparent;
				border-radius: 50px;
				border: 1px solid var(--secondary-text-color);
				color: var(--secondary-text-color);
			}

			button:hover {
				cursor: pointer;
				border: 1px solid var(--text-color);
				color: var(--text-color);
			}
		}

		.section {
			.info-section {
				display: flex;
				margin-bottom: 2rem;
				.col-left,
				.col-right {
					width: 50%;

					.sub-heading {
						color: var(--secondary-text-color);
						font-weight: 500;
						margin-bottom: 0.5rem;
					}
				}

				.col-left {
					padding-right: 0.5rem;
				}
				.col-right {
					padding-left: 0.5rem;
				}
			}
		}
	}
}
