#table-places-page {
	padding: 2rem;

	h1 {
		margin-bottom: 2rem;
	}

	.search-section {
		margin-bottom: 2rem;
		display: flex;
		align-items: center;

		input {
			height: 25px;
			width: 200px;
			border-radius: 5px;
			border: 1px solid var(--line-color);
			margin-right: 0.5rem;
			background: transparent;
			padding: 5px 10px;
		}

		button {
			height: 37px;
			width: 70px;
			border-radius: 5px;
			border: none;
			background-color: var(--primary-color);
			color: var(--btn-text-color);
		}

		#clear-button {
			margin-left: 0.5rem;
			background-color: var(--secondary-btn-color);
		}

		button:hover {
			cursor: pointer;
		}

		.loading,
		.error-message {
			margin-left: 2rem;
		}

		.error-message {
			color: var(--error-text);
		}
	}

	.table-wrapper {
		display: flex;
		flex-direction: column;
	}
}

@media screen and (max-width: 500px) {
	#table-places-page {
		padding: 1rem;

		h1 {
			margin-bottom: 1rem;
		}
	}
}

@media screen and (max-width: 600px) {
	#table-places-page {
		.table-wrapper {
			overflow-x: auto;
		}
	}
}
