:root {
	--primary-color: rgb(140, 23, 140);
	/* DARK MODE COLORS */
	--bg-color: #000000;
	--text-color: rgb(228, 228, 228);
	--secondary-text-color: rgb(147, 147, 147);
	--map-text-color: rgb(228, 228, 228);
	--map-line-color: #343434;
	--map-input-bg-color: #1a1a1a;
	--map-input-text-color: white;
	--map-input-placeholder-text-color: rgb(156, 156, 156);
	--secondary-btn-color: #212121;
	--btn-text-color: rgb(255, 255, 255);
	--navbar-color: #212121;
	--navbar-text-color: rgb(228, 228, 228);
	--navbar-text-hover-color: rgb(255, 255, 255);
	--line-color: #343434;
	--error-text: rgb(255, 100, 100);
	--table-row-hover-color: rgba(255, 255, 255, 0.083);
	--modal-bg-color: #1f1f1f;
	--modal-container-color: rgba(0, 0, 0, 0.56);

	/* SIZES */
	--navbar-footer-padding: 1.5rem;
	--navbar-height: 70px;

	font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
	color-scheme: light dark;
	color: var(--text-color);
	background-color: var(--bg-color);

	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	body {
		margin: 0;
		padding: 0;
		min-height: 100vh;

		h1,
		h2,
		h3,
		h4,
		h5,
		h6,
		p {
			margin: 0;
			padding: 0;
		}

		button {
			transition: opacity 0.2s ease-in-out !important;
		}

		button:hover {
			opacity: 0.8 !important;
		}
	}
}

:root[theme="light"] {
	// LIGHT MODE COLORS
	--bg-color: #f9f9f9;
	--text-color: #2b2b2b;
	--secondary-text-color: #777777;
	--secondary-btn-color: #4f4f4f;
	--map-text-color: #2b2b2b;
	--map-line-color: #272727;
	--map-input-bg-color: #000000ac;
	--map-input-placeholder-text-color: rgb(177, 177, 177);
	--navbar-text-color: #1c1c1c;
	--navbar-text-hover-color: #000000;
	--line-color: #cecece;
	--navbar-color: #c184bf;
	--error-text: rgb(255, 60, 60);
	--table-row-hover-color: rgba(140, 23, 140, 0.32);
	--modal-bg-color: #f9f9f9;
}
